@charset "UTF-8";
html, body, main, aside, header, section, article, span, h1, h2, h3, p, nav, ul, li, i {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  font-family: PTSans, Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #eee;
  color: #333;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 150%;
}

main {
  padding: 8px;
}

aside {
  padding: 8px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
  margin-bottom: 40px;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1.1em;
  padding-bottom: 24px;
  left: -4px;
  position: relative;
}

h2 {
  font-size: 24px;
  margin-bottom: 32px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 15px;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover, a:focus {
  color: #eee;
}
a:visited {
  color: blue;
}

ul {
  list-style-type: none;
}

i {
  font-size: 32px;
  padding-bottom: 16px;
  color: #a9a9a9;
}
@media only screen and (min-width: 600px) {
  i {
    font-size: 28px;
  }
}

.l-body {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 900px) {
  .l-body {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.l-nav {
  width: 100%;
}
.l-nav--bottom {
  position: sticky;
  bottom: 0;
}
.l-nav-horizontal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.l-nav-left {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 600px) {
  .l-nav-left {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 600px) {
  .is-hidden {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .l-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 900px) and (min-width: 600px) {
  .l-container {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .l-main {
    display: flex;
    justify-content: space-around;
  }
  .l-main-constricted {
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  .l-aside {
    width: 35%;
  }
}
@media only screen and (max-width: 900px) and (min-width: 600px) {
  .l-aside-constricted {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .l-aside-constricted section {
    width: 50%;
  }
  .l-aside-constricted section:nth-child(1) {
    width: 100%;
  }
}

.l-footer {
  width: 100%;
}

.content {
  padding-bottom: 32px;
  max-width: 300px;
}
.content-link span {
  background-color: transparent;
  color: #192a36;
  display: inline-block;
  padding: 0;
  position: relative;
  transition: color ease 0.3s;
  z-index: 0;
}
.content-link span::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: #007dda;
  transition: all ease 0.3s;
}
.content-link span::after {
  content: " »";
  color: #007dda;
}
.content-link:hover i, .content-link:focus i {
  color: #007dda;
}
.content-link:hover span, .content-link:focus span {
  text-decoration: none;
  color: #eee;
}
.content-link:hover span::before, .content-link:focus span::before {
  width: 100%;
}
.content-block {
  color: #333;
}
.content-block-additional {
  color: #a9a9a9;
  font-size: 13px;
}

.m-hero {
  max-width: 640px;
  padding: 16px;
  margin-top: 52px;
}
@media only screen and (min-width: 600px) {
  .m-hero {
    padding: 16px 16px 40px;
    margin-top: 96px;
  }
}
.m-hero-standfirst {
  font-size: 24px;
  line-height: 150%;
}

.SM-icons {
  width: 50%;
}
.SM-icons p {
  padding: 0;
  margin-bottom: 32px;
}
@media only screen and (min-width: 900px) {
  .SM-icons {
    width: 25%;
  }
}

.bottom {
  background-color: #d4d4d4;
  box-shadow: 0 -2px 1px 0 rgba(0, 0, 0, 0.19);
  height: 40px;
}
.bottom-active a {
  color: #F38A8A;
  border-bottom: 3px solid #F38A8A;
}
.bottom a {
  color: #a9a9a9;
}
.bottom a:hover, .bottom a:focus {
  color: #eee;
}
.bottom a:visited {
  color: #a9a9a9;
}

/*<a> additional content*/
.underline {
  border-bottom: 2px solid black;
}

.stop-borders {
  background-color: #007dda;
  padding: 16px 16px 8px;
  font-weight: 700;
  font-size: 24px;
  color: #eee;
  position: absolute;
}
@media only screen and (min-width: 600px) {
  .stop-borders {
    margin-left: 20px;
  }
}

.c-sm {
  display: inline;
  position: relative;
  opacity: 1;
}

.crest {
  width: 136px;
  height: auto;
  color: #007dda;
  margin: 0 auto;
}
@media only screen and (min-width: 900px) {
  .crest {
    margin: initial;
  }
}

/*# sourceMappingURL=main.css.map */
