
/*<a> additional content*/
.c-link {
  &-additional {
    &::before {
      content: '...[';
    }
    &::after {
      content: ']...';
    }
  }
}
.underline {
  border-bottom: 2px solid black;
}
.stop-borders {
  border-bottom: 8px solid $blue;
  width: 96px;
  // left: 16px;
  position: absolute;
}
