

.l-body {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 900px) {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.l-nav {
  // border: 2px solid blue;
  width: 100%;
  &--bottom {
    position: sticky;
    bottom: 0;
  }
  &-horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  &-left {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: 600px) {
      justify-content: space-between;

}
  }
}

.is-hidden {
  @media only screen and (min-width: 600px) {
    display: none;
  }
}
// {
//   background-color: black;
//   position: sticky;
//   bottom: 0;
// @media only screen and (min-width: 600px) {
//   display: none;
//   }
// }



.l-container {

  @media only screen and (min-width: 600px) {
    width: 65%;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  @media only screen and (max-width: 900px) and (min-width: 600px) {
width: 100%;
}
}
.l-main {
  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: space-around;
    &-constricted {
      width: 50%;
    }
  }
}
.l-aside {

  // display: flex;
  // flex-direction: column;
//   justify-content: center;
//   align-items: center;
//
// section {
// align-self: center;
//  }
  @media only screen and (min-width: 900px) {
    width: 35%;

  }
  &-constricted {
    @media only screen and (max-width: 900px) and (min-width: 600px) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      section {
        width: 50%;
      }
      section:nth-child(1){
        width: 100%;
      }
    }
  }
}

.l-footer {
  width: 100%;
}
